#map-container {
    border: 1px solid black;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 600px;
}

#data-container {
    border: 1px solid black;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 600px;
    min-height: 200px;
    bottom: 0px;
    overflow: auto;
}

.leaflet-popup-content_header {
    font-size: 120%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.leaflet-popup-content_body {
    font-size: 100%;
    padding-top: -18px;
    padding-bottom: -18px;
}