#map-container {
    border: 1px solid black;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 30px;
    height: 600px;
}

#data-container {
    border: 1px solid black;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 630px;
    min-height: 200px;
    bottom: 0px;
    overflow: auto;
}

#login-status {
    border: 1px solid black;
    position: absolute;
    left: 0px;
    right: 0px;
    height: 30px;
    top: 0px;
}
